<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache"><testsuites><testsuite name="Wallet"><directory>tests</directory></testsuite></testsuites><php><env name="APP_ENV" value="testing" force="true"/><env name="DB_DATABASE" value="wallet_testing" force="true"/><env name="SESSION_DRIVER" value="array"/><env name="CACHE_STORE" value="array"/><env name="WEBHOOK_SECRET" value="testing-only-secret-with-at-least-32-characters"/></php></phpunit>
